* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #222;
  margin: 0;
}
  
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2d2d2d;
  overflow-y: scroll;
  transition: 0.5s;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.side::-webkit-scrollbar {
  display: none;
}

/* Main column */
.main {   
  padding: 20px;
  color: white;
  transition: margin-left .5s;
  margin-left: 250px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;
}

/* Fake image, just for this example */
.logo {
  background-color: #fff;
  width: 100%;
  padding: 5%;
}

.logo img {
  width: inherit;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Style the nav */
#nav {
  overflow: hidden;
  visibility: show;
}

/* Nav links */
#nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#back {
  background-color: #2d6029 !important;
}

#back:hover {
  background-color: #377732 !important;
}

span {
  white-space: pre-wrap;
}

p {
  margin:0;
  font-size: 16px;
}

.red {
  color: #ff0000;
}

.green {
  color: #00ff00;
}

.orange {
  color: #ff9900;
}

.blue {
  color: #0000ff;
}

.magenta {
  color: #ff99ff;
}

.cyan {
  color: #0099ff;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

hr.mono {
  border: 0;
  border-top: 2px solid #9f9f9f;
}

hr.double {
  border: 0;
  border-top: 5px double #9f9f9f;
}

p a {   
  color: white;
}

p a:hover {   
  color: rgb(190, 133, 216);
}

a.modul {
  background-color: #333;
}

a.modul:hover {
  background-color: #4e4e4e;
}

a.submodul {
  background-color: #555;
}

a.submodul:hover {
  background-color: #6e6e6e;
}

#button {
  width: 50px;
  height: 50px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
}

.buttonOpen {
  background-color: #096b09;
}

.buttonClose {
  background-color: #821c1c;
}
