* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #222;
  margin: 0;
}
  
/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-height: 100%;
  max-width: 400px;
  width: 30%;
  min-width: 200px;
}

/* Main column */
.main {   
  flex: 70%;
  padding: 20px;
  color: white;
}

/* Fake image, just for this example */
.logo {
  background-image: url(./emba.svg);
  background-size: 100% 100%;
  width: 100%;
  height: 200px;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Style the nav */
#nav {
  max-height: calc(100% - 40px);
  overflow: hidden;
}

/* Nav links */
#nav a {
  background-color: #333;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#nav a:hover {
  background-color: #4e4e4e;
}

/* The sticky class is added to the nav with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 20px;
  max-width: 360px;
  width: calc(30% - 40px);
  min-width: 160px;
  overflow-y: scroll !important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

#back {
  background-color: #2d6029 !important;
}

#back:hover {
  background-color: #377732 !important;
}

span {
  white-space: pre-wrap;
}

p {
  margin:0;
  font-size: 16px;
}

.red {
  color: #ff0000;
}

.green {
  color: #00ff00;
}

.orange {
  color: #ff9900;
}

.blue {
  color: #0000ff;
}

.magenta {
  color: #ff99ff;
}

.cyan {
  color: #0099ff;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

hr.mono {
  border: 0;
  border-top: 2px solid #9f9f9f;
}

hr.double {
  border: 0;
  border-top: 5px double #9f9f9f;
}

.nav-box {
  background-color: #f2f2f2;
  padding-top: 20px;
}