.idea/
log*/
dir-combined.yara
external/
modules_local/
tools/
!external/.keep
config/vt_api_key.txt
config/emba_updater
config/emba_updater_data
config/module_blacklist.txt
config/jtr_wordlist.txt
config/gpt_config.env
config/cve-database.db
