[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lz4 = "*"
zstandard = "*"
vmlinux-to-elf = {editable = true, git = "https://github.com/EMBA-support-repos/vmlinux-to-elf"}

[dev-packages]

[requires]
python_version = "3.10"
